:host {
  mat-list {
    height: 65vh;
    overflow-y: auto;

    mat-list-item {
      max-height: 32px;
    }
  }
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
}
input[type="text"] {
  border: 2px solid #00A2F8;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(#4B4848, 0.1);
  transition: all 0.4s ease;
}