@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  overflow: hidden;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 20px;
  overflow: hidden;
}

.mat-menu-content {

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #EEEDED;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #bcbebf, $alpha: 0.7);

  &:hover {
    background-color: rgba($color: #bcbebf, $alpha: 1);
  }
}

.highlight {
  background: #FFE6A0;
  color: #2e2f30;
}