:host {
  position: relative;
  display: block;
  min-width: 200px;
  min-height: 200px;

  .centered-container {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 100;
  }
}